In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [23]:
# # Example code taken from Martin Beck's tutorial here: 
# # https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

# # Creating list to append tweet data to
# tweets_list1 = []

In [27]:
# # Using TwitterSearchScraper to scrape data and append tweets to list
# for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jack').get_items()):
#     if i>100:
#         break
#     tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# # Creating a dataframe from the tweets list above 
# tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [28]:
# tweets_list1

[[datetime.datetime(2020, 5, 14, 21, 24, 16, tzinfo=datetime.timezone.utc),
  1261044684291440644,
  '@katebornstein @HiltonHotels @DoubleTree Love you Auntie Kate.',
  'CatalystParadox'],
 [datetime.datetime(2020, 4, 21, 3, 30, 41, tzinfo=datetime.timezone.utc),
  1252439587483291649,
  '@AndyEyeballs The antikythera mechanism.',
  'CatalystParadox'],
 [datetime.datetime(2020, 3, 24, 6, 30, 31, tzinfo=datetime.timezone.utc),
  1242337983447130112,
  '@randilions Whaaaat?!  No!  Why?  How?!',
  'CatalystParadox'],
 [datetime.datetime(2020, 3, 3, 3, 38, 59, tzinfo=datetime.timezone.utc),
  1234684672426246146,
  'hot DAMN this is better than I thought any cosplay could possibly be https://t.co/jqPCYchd91',
  'CatalystParadox'],
 [datetime.datetime(2020, 2, 3, 2, 28, 21, tzinfo=datetime.timezone.utc),
  1224157648695779328,
  '@randilions Hello darkness my old friend....',
  'CatalystParadox'],
 [datetime.datetime(2020, 2, 3, 2, 26, 50, tzinfo=datetime.timezone.utc),
  1224157264849920004,
  '@Iron_Spike Even better?  This is for the job he ALREADY HAS.',
  'CatalystParadox'],
 [datetime.datetime(2020, 2, 3, 2, 26, 18, tzinfo=datetime.timezone.utc),
  1224157129981988865,
  "@Iron_Spike Yuuup.  K's a friend of mine, in fact.",
  'CatalystParadox']]

In [9]:
# # Creating a dataframe from the tweets list above 
# tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [10]:
# # Creating list to append tweet data to
# tweets_list2 = []

In [11]:
# # Using TwitterSearchScraper to scrape data and append tweets to list
# for i,tweet in enumerate(sntwitter.TwitterSearchScraper('its the elephant since:2020-06-01 until:2020-07-31').get_items()):
#     if i>500:
#         break
#     tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [13]:
# Creating a dataframe from the tweets list above
# tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [36]:
tweets_list = []

In [49]:
# my adaptation
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:AZGOP since:2020-01-01 until:2021-01-31').get_items()):
    if i>250000:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [50]:
tweets_list[0]

[datetime.datetime(2021, 1, 29, 23, 31, 1, tzinfo=datetime.timezone.utc),
 1355297425934565376,
 "In today's update, Chairwoman Kelli Ward provides an update on the status of the full forensic audit of the 2020 election and thanks Arizona's Senate Republicans who are poised to deliver for Arizona's voters. Be sure to thank your state senators! @AZSenateGOP @kelliwardaz https://t.co/TUMgmUORFo",
 'AZGOP']

In [51]:
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [52]:
tweets_df.shape

(1892, 4)

In [53]:
tweets_df.head()

,Datetime,Tweet Id,Text,Username
0,2021-01-29 23:31:01+00:00,1355297425934565376,"In today's update, Chairwoman Kelli Ward provi...",AZGOP
1,2021-01-29 03:32:49+00:00,1354995890927222784,"Today, Chairwoman Ward announces last Saturday...",AZGOP
2,2021-01-28 00:53:06+00:00,1354593309331603457,"In today's update, Chairwoman Kelli Ward share...",AZGOP
3,2021-01-27 00:32:03+00:00,1354225623565127684,"Today, Chairwoman Kelli Ward shares the status...",AZGOP
4,2021-01-26 01:02:26+00:00,1353870879600435200,"In today’s update, Chairwoman @kelliwardaz pro...",AZGOP

In [54]:
tweets_df.tail()

,Datetime,Tweet Id,Text,Username
1887,2020-01-03 22:40:06+00:00,1213228571617050626,Alone we can do so little; together we can do ...,AZGOP
1888,2020-01-02 17:10:16+00:00,1212783176214560771,"When broken down by industry, Americans in con...",AZGOP
1889,2020-01-01 22:56:35+00:00,1212507942722793473,"Thank you, President Trump! https://t.co/rZ2sS...",AZGOP
1890,2020-01-01 07:01:06+00:00,1212267485963177984,"Wishing all Arizonans a happy, healthy, and ex...",AZGOP
1891,2020-01-01 04:25:02+00:00,1212228213650444288,2019 was a great year for Arizona. Here's to 2...,AZGOP

In [55]:
tweets_df.to_csv('AZGOP.csv')